# Dependencias
node_modules/
.pnp
.pnp.js

# Producción / Builds
dist/
build/

# Logs y Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Archivos de Sistema / IDE
.DS_Store
.vscode/
.idea/
*.local

# --- DATA & REPORTS (REGLAS ESPECÍFICAS) ---

# Ignorar todos los Excels por defecto
*.xlsx

# EXCEPCIÓN: Mantener el Maestro de Productos
!Data/codigos_generales.xlsx

# EXCEPCIÓN: Mantener los Snapshots actuales para despliegue
!reports/StockPulse_*.xlsx
!frontend/public/reports/StockPulse_*.xlsx

# Ignorar archivos intermedios de procesamiento
Data/data_stock.json
Data/productos.json
Data/productos_con_stock.json

# Generar el JSON en public para el buscador (no commited)
# !frontend/public/productos_con_stock.json

# Mantener logs de descargas (se limpia semanalmente)
!stock-api/logs/

# Archivo Excel de stock (subir manualmente cuando se actualice)
Data/stock.xlsx
